.task-page {
  padding: 20px 100px 20px 10px;
  display: flex;
}
.side-bar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid gray;
  width: 20%;
  padding: 10px;
}
.view-bar {
  margin-left: 13%;
  width: 60%;
  padding-top: 3%;
}
.side-bar h1 {
  text-align: center;
  color: blue;
  margin-top: 10%;
  font-size: 30px;
}
.side-bar p {
  text-align: left;
  margin-top: 5%;
  font-size: 18px;
  margin-bottom: 10%;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link a {
  margin-left: 0px;
  color: blue;
  font-size: 20px;
}
